<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RHU_DOCTOR_APPLICATION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RHU_DOCTOR_APPLICATION.My.MySettings>
      <setting name="ButtonNames" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCode" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeTB" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeHAS" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic1" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic2" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic3" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic4" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic5" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedAccessCodeClinic6" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName1" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName2" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName3" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName4" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName5" serializeAs="String">
        <value />
      </setting>
      <setting name="ClinicButtonName6" serializeAs="String">
        <value />
      </setting>
    </RHU_DOCTOR_APPLICATION.My.MySettings>
  </userSettings>
</configuration>